<div>
  <div>
    <h1>
      List of all properties
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new property
    </h2>

    <form action="/insert_property" method="post">
      <div>
        <label for="formal_address_box">
          Formal address
        </label>

        <input type="text" id="formal_address_box" name="query_formal_address">
      </div>

      <div>
        <label for="address_description_box">
          Address description
        </label>

        <input type="text" id="address_description_box" name="query_address_description">
      </div>

      <div>
        <label for="monthly_rent_box">
          Monthly rent
        </label>

        <input type="text" id="monthly_rent_box" name="query_monthly_rent">
      </div>

      <div>
        <label for="date_begins_box">
          Date begins
        </label>

        <input type="date" id="date_begins_box" name="query_date_begins">
      </div>

      <div>
        <label for="date_end_box">
          Date end
        </label>

        <input type="date" id="date_end_box" name="query_date_end">
      </div>

      <%# 
      <div>
        <label for="subletter_student_id_box">
          Subletter student
        </label>

        <input type="text" id="subletter_student_id_box" name="query_subletter_student_id">
      </div> 
      %>

      <div>
        <label for="city_id_box">
          City
        </label>

        <input type="text" id="city_id_box" name="query_city_id">
      </div>

      <div>
        <label for="availability_status_box">
          Availability status
        </label>

        <input type="text" id="availability_status_box" name="query_availability_status">
      </div>



      <button>
        Create property
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Formal address
        </th>

        <th>
          Address description
        </th>

        <th>
          Monthly rent
        </th>

        <th>
          Date begins
        </th>

        <th>
          Subletter student
        </th>

        <th>
          City
        </th>

        <th>
          Availability status
        </th>

        <th>
          Date end
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_properties.each do |a_property| %>
      <tr>
        <td>
          <%= a_property.id %>
        </td>

        <td>
          <%= a_property.formal_address %>
        </td>

        <td>
          <%= a_property.address_description %>
        </td>

        <td>
          <%= a_property.monthly_rent %>
        </td>

        <td>
          <%= a_property.date_begins %>
        </td>

        <td>
          <%= a_property.subletter_student_id %>
        </td>

        <td>
          <%= a_property.city_id %>
        </td>

        <td>
          <%= a_property.availability_status %>
        </td>

        <td>
          <%= a_property.date_end %>
        </td>

        <td>
          <%= time_ago_in_words(a_property.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_property.updated_at) %> ago
        </td>

        <td>
          <a href="/properties/<%= a_property.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
