<div>
  <div>
    <h1>
      Listed properties
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Formal address
        </th>

        <th>
          Address description
        </th>

        <th>
          Monthly rent ($USD)
        </th>

        <th>
          Subletter's name
        </th>

        <th>
          Subletter's email
        </th>

        <th>
          City
        </th>

        <th>
          Date begins
        </th>

        <th>
          Date end
        </th>

        <th>
          Availability status
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_properties.each do |a_property| %>
      <tr>

        <td>
          <%= a_property.formal_address %>
        </td>

        <td>
          <%= a_property.address_description %>
        </td>

        <td>
          <%= a_property.monthly_rent %>
        </td>


        <td>
          <%= a_property.subletter_student.first_name + " " + a_property.subletter_student.last_name%>
        </td>

        <td>
          <%= a_property.subletter_student.email%>
        </td>

        <td>
          <%= a_property.city.city_name%>
        </td>

        <td>
          <%= a_property.date_begins %>
        </td>

        <td>
          <%= a_property.date_end %>
        </td>

        <td>
          <%= a_property.availability_status %>
        </td>

        <td>
          <%= time_ago_in_words(a_property.updated_at) %> ago
        </td>

        <td>
          <a href="/properties/<%= a_property.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<hr>

<div>
  <div>
    <h2>
      Add your property to the list! 
    </h2>

    <form action="/insert_property" method="post">
      <div>
        <label for="formal_address_box">
          Formal address
        </label>

        <input type="text" id="formal_address_box" name="query_formal_address">
      </div>
      
      <div>
        <label for="address_description_box">
          Address description
        </label>

        <input type="text" id="address_description_box" name="query_address_description">
      </div>

      <div>
        <label for="monthly_rent_box">
          Monthly rent
        </label>

        <input type="text" id="monthly_rent_box" name="query_monthly_rent">
      </div>

      <div>
        <label for="date_begins_box">
          Date begins
        </label>

        <input type="date" id="date_begins_box" name="query_date_begins">
      </div>

      <div>
        <label for="date_end_box">
          Date end
        </label>

        <input type="date" id="date_end_box" name="query_date_end">
      </div>

      <%# 
      <div>
        <label for="subletter_student_id_box">
          Subletter student
        </label>

        <input type="text" id="subletter_student_id_box" name="query_subletter_student_id">
      </div> 
      %>
     
     
      <%#put in drop down%>
      <%#<div>
        <label for="city_id_box">
          City
        </label>

        <input type="text" id="city_id_box" name="query_city_id">
      </div> %>
  
    <div>
      <select name="query_city_id">
        <% City.all.order(:city_name).each do |a_city|%>
          <option value="<%= a_city.id%>"> 
            <%= a_city.city_name%> 
          </option>
        <%end%>
      </select>
    </div>


    <%#<  <div>
        <label for="availability_status_box">
          Availability status
        </label>

        <input type="text" id="availability_status_box" name="query_availability_status"> 
  
      </div> %>
     
     <div>
      <select name="query_availability_status">
       
          <option> 
            Available 
          </option>
          <option>
            Taken
          </option>
        
      </select>
      </div>
      <button>
        Create property
      </button>
    </form>
  </div>
</div>
