<div>
  <div>
    <h1>
      Schools Our Members Go To
    </h1>
  </div>
</div>

  <div>
    <table border="1">
      <tr>
       <%#  <th>
          ID
        </th>%>

        <th>
          School name
        </th>

        <th>
          City
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_schools.each do |a_school| %>
      <tr>
      <%#  <td>
          <%= a_school.id %>
       <%#  </td>%>

        <td>
          <%= a_school.school_name %>
        </td>

        <td>
          <%= a_school.city.city_name %>
        </td>

        <td>
          <%= time_ago_in_words(a_school.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_school.updated_at) %> ago
        </td>

        <td>
          <a href="/schools/<%= a_school.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
<hr>

<div>
  <div>
  <h1>
    Do you even go here?
  </h1>
  </div>
  <div>
    <h2>
      If not, add a new school!
    </h2>
    
    <h3>Make sure your school is in a city we partner with, first!</h3>

    <form action="/insert_school" method="post">
      <div>
        <label for="school_name_box">
          School name
        </label>

        <input type="text" id="school_name_box" name="query_school_name">
      </div>

      <div>
        <label for="city_id_box">
          City
        </label>

       <%#  <input type="text" id="city_id_box" name="query_city_id">
      </div>%>

      <select name="query_city_id">
        <% City.all.order(:city_name).each do |a_city|%>
          <option value="<%= a_city.id%>"> 
            <%= a_city.city_name%> 
         </option>
      <%end%>
    </select>
    </div>

  <div>
      <button>
        Create school
      </button>
    </form>
  </div>
</div>

<hr>
